{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalFlex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/shared_styles.css' %}?v=6.1">
</head>
<body>
    <nav class="top-nav">
        <div class="site-info">
            <h1>GoalFlex</h1>
            <p>Built By Sweat. Powered by you.</p>
        </div>
        <ul>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="{% url 'login_page' %}">Login</a></li>
            <li><a href="{% url 'register_page' %}">Register</a></li>
        </ul>
    </nav>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 GoalFlex | <a href="#">Privacy Policy</a></p>
    </footer>
</body>
</html>
